
body {
  font-family: Arial, serif;
  font-size: 110%;
  margin: 10px;
  padding: 0;
}

h3 {
  margin-bottom: 0;
}

table {
  width: 100%;
  text-align: center;
  font-size: 90%;
}

td {
  border-right: 1px black solid;
}

#tdEnd {
  border: none;
}

main {
  margin: 5px 0 30px 5px;
  width: 95%;
  height: 55%;
  position: absolute;
}

button {
  width: 100px;
  height: 25px;
  font-size: 18px;
}
